.sideBarIconsWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  all: unset;
  width: 100px;
  text-align: center;
}

.icons:hover {
  cursor: pointer;
}

.acount:hover::after {
  content: "Profile";
  position: fixed;
  left: 60px;
  padding: 10px;
  background-color: #6c6767;
  border-radius: 10px;
}
.chat:hover::after {
  content: "chats";
  position: fixed;
  left: 60px;
  padding: 10px;
  background-color: #6c6767;
  border-radius: 10px;
}
.contacts:hover::after {
  content: "contacts";
  position: fixed;
  left: 60px;
  padding: 10px;
  background-color: #6c6767;
  border-radius: 10px;
}
.setting:hover::after {
  content: "Setting";
  position: fixed;
  left: 60px;
  padding: 10px;
  background-color: #6c6767;
  border-radius: 10px;
}

@media (width <= 1000px) {
  .sideBarIconsWrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .icons {
    height: 20rem;
  }
  .acount:hover::after {
    content: "";
    visibility: hidden;
  }
  .chat:hover::after {
    content: "";
    visibility: hidden;
  }
  .contacts:hover::after {
    content: "";
    visibility: hidden;
  }
  .setting:hover::after {
    content: "";
    visibility: hidden;
  }
}
