.sideBarIconsWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  all: unset;
  width: 100px;
  text-align: center;
}

.icons:hover {
  cursor: pointer;
}

@media (width <= 1000px) {
  .sideBarIconsWrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .icons {
    height: 20rem;
  }
}
