.head {
  background-color: rgb(40, 38, 38);
  position: fixed;
  width: calc(100vw - 25rem);
  right: 0;
  opacity: 1;
  z-index: 100;
}

.userImageAndName {
  margin-left: 3rem;
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;
}

.userImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: blue;
  flex-wrap: wrap;
}

.onlineStatus {
  font-size: small;
  font-style: italic;
}

.conversation {
  width: 90%;
  margin: 6.5% auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sender {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

.mesgText {
  width: auto;
  height: auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 10px;
  border-radius: 10px;
}

.dateInfo {
  display: block;
  font-style: italic;
  font-size: small;
}

.picAndText {
  display: flex;
}

.pic {
  margin: 20px 10px;
}

.you {
  align-self: flex-end;
}

.messageInput {
  width: 100%;
  position: fixed;
  bottom: 5%;
  display: flex;
  flex-wrap: nowrap;
}

.messageInput input {
  width: 60%;
  border: none;
  padding: 15px;
  border-radius: 20px;
  background-color: #424141;
  margin: 0 30px;
}

.messageInput input:focus {
  outline: none;
}

.sendIcon {
  margin-left: -80px;
  color: green;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}

.sendIcon:hover {
  cursor: pointer;
}

.backBtn {
  display: none;
}

.displayWhenNoChatSelected {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 1000px) {
  .userImageAndName {
    margin: 0;
  }
  .head {
    width: 100%;
  }
  .conversation {
    margin: 20% auto;
  }
}

@media (width <= 1000px) {
  .messageInput input {
    width: 70%;
  }
  .backBtn {
    display: initial;
    margin: 10px;
  }
}

.contactInformation {
  width: 100%;
  background-color: #1a1717;
}

.nameAndOnlineStatus {
  display: flex;
  flex-direction: column;
}
@media (width <= 600px) {
  .messageInput {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;
  }
  .messageInput input {
    width: 80%;
  }
  .mesgText {
    font-size: small;
    width: auto;
    height: auto;
  }
}
